@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <b> <h1 class="display-4">Lab5 welcomes you!</h1></b>
    <p>My name is Rominkumar Patel. I am level 6 CET-CS student from Algonquin college.</p>
    <p>In this course I am learning .Net</p>
    <p>This lab helps me to start putting all the pieces together to create coherent web applications using ASP.NET MVC Core and the Entity Framework.</p>
</div>